BuildProcessTemplates/
packages/
POSY.UI.DOS/
POSY.Api/bin/
POSY.Api/obj/
POSY.App/bin/
POSY.App/obj/
POSY.Domain/bin/
POSY.Domain/obj/
POSY.Domain.Tests/bin/
POSY.Domain.Tests/obj/
POSY.Infra.CrossCutting.Common/bin/
POSY.Infra.CrossCutting.Common/obj/
POSY.Infra.CrossCutting.Common.Tests/bin/
POSY.Infra.CrossCutting.Common.Tests/obj/
POSY.Infra.CrossCutting.Identity/bin/
POSY.Infra.CrossCutting.Identity/obj/
POSY.Infra.CrossCutting.IoC/bin/
POSY.Infra.CrossCutting.IoC/obj/
POSY.Infra.Data/bin/
POSY.Infra.Data/obj/
POSY.MVC/bin/
POSY.MVC/obj/
POSY.UI.WF/bin/
POSY.UI.WF/obj/